html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131111;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===============
    navigation
================ */

nav {
  background: #131111 !important;
  border-bottom: 1px solid #737272;
}

.nav-link:hover {
  color: #45AA9E;
}

.logo {
  font-size: 1.3rem !important;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-initals {
  background-image: linear-gradient(to right , #45AA9E, #25D18F );
  background-size: cover;
  background-repeat: no-repeat;
}

/* ========
    form
========== */

.white {
  width: 60% !important;
  background: #262526 !important;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
}

form{
  padding: 10px 50px;
  margin: 90px auto;
}

form:last-child {
  text-align: center;
}

form button, form h5{
  margin: 20px 0;
}

.form-title {
  color: white !important;
}

input, textarea{
  color: white;
}

.btn-form {
  background-image: linear-gradient(to right , #45AA9E, #25D18F );
  color: white;
  height: 40px;    
  width: 130px;
  border-radius: 40px;
  letter-spacing: 1px;
  transition: .3s ease-in-out
}

.btn-form:hover {
  transform: scale(.95)
}

.user-error {
  margin-top: 2px;
}

/* ===========
    project
============ */

.project-sum {
  background: #292929 !important;
  border-radius: none;
}

.project-list {
  margin: 40px 0 20px 0;
  max-height: 600px;
  overflow-y: scroll;
}

.project-date {
  color: #5a5a5a !important;
}

.project-details {
  margin-top: 40px !important;
}

.project-title {
  color: #45AA9E;
}

.card-title {
  font-size: 15px !important;
  font-weight: 600 !important;
}

/* ================
    notifications
================= */

.notifications {
  margin: 40px 0 20px 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.notifications {
  background: #292929 !important;
  margin: 48px 0 20px 0;
}

.notifications__content {
  padding: 10px 25px !important;
}

.notifications__content ul:not(.browser-default) {
  padding-left: 0px !important;
}

.online-user__name {
  color: #45AA9E;
}

.note-date {
  color: #5a5a5a !important;
}

/* ===========
    sidebar
============ */

.side-drawer {
  background-color: #25D18F !important;
  min-height: 100%;
  max-width: 60%;
  z-index: 10 !important;
  position: fixed;
}

.btn-close {
  padding: 10px;
}

ul:not(.browser-default) {
  padding-left: 50px !important;
}

.side-links{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

/* ================
    media queries
================== */

@media only screen and (max-width: 992px) {
  .btn-initals-sidebar {
    width: 80px;
    height: 80px;
    padding: 20px 10px;
    font-size: 25px;
    text-align: center;
    background-color: #292929;
  }

  .side-links > :first-child{
    margin-bottom: 20px !important;
  }

  .white {
    width: 80% !important;
  }
}

@media only screen and (max-width: 600px) {
  .white {
    width: 100% !important;
  }
}



