html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEEF2;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===============
    navigation
================ */

nav {
  background: #EDEEF2 !important;
  border-bottom: none;
  box-shadow: none !important;
}

.nav-link {
  color: #5B5C60;
}

.nav-link:hover {
  color: #F05457;
}

.logo {
  font-size: 1.3rem !important;
  font-weight: 600;
  text-transform: uppercase;
}

nav .brand-logo {
  color: #5B5C60;
}

.btn-initals {
  background: #F05457;
}

.btn-initals:hover, .btn-initals:focus {
  background: #ef8385;
}

/* ========
    form
========== */

.white {
  width: 45% !important;
  background: #F6F6F6 !important;
  box-shadow: 0 2rem 6rem rgba(191, 190, 190, 0.3);
}

form{
  padding: 20px 70px;
  margin: 90px auto;
}

form:last-child {
  text-align: center;
}

form button, form h5{
  margin: 20px 0;
}

.form-logo__box {
  position: relative;
  width: 100px;
  height: 100px;
  background: #f7dddd;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-logo {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50px;
}

.form-title {
  color: #5B5C60 !important;
}

input, textarea{
  color: #5B5C60;
}

.input-field input[type=text] + label, 
.materialize-textarea:focus:not([readonly]) + label {
  color: #F05457 !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,  
.input-field input[type=email]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #F05457 !important;
  box-shadow: 0 1px 0 0 #F05457 !important;
}

.btn-form, .btn-form:focus {
  background: #F05457;
  color: white;
  height: 45px;    
  width: 100%;
  letter-spacing: 1px;
  transition: .3s ease-in-out
}

.btn-form:hover {
  transform: scale(.95);
  background: #ef8385;
}

.user-error {
  margin-top: 2px;
}

/* ============
    edit form
============= */

.edit-form {
  padding: 0 !important;
  margin: 0 !important;
}

.edit-form .input-field {
  margin: 0 !important;
}

.edit-form .input-field input{
  color: #5B5C60;
}

.edit-form .input-field textarea{
  color: #5a5a5a;
}

/* ===========
    project
============ */

.project-sum {
  background: #F7F7F7 !important;
  border-radius: none;
}

.project-list {
  margin: 40px 0 20px 0;
  max-height: 600px;
  overflow-y: scroll;
}

.project-date, .project-summary__title {
  color: #5a5a5a !important;
}

.project-summary__title {
  border-bottom: 1px solid rgba(160,160,160,0.2);
  padding-bottom: 24px;
}

.project-details {
  margin-top: 40px !important;
}

.project-title {
  color: #F05457;
}

.card-title {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #5B5C60 !important;
}

#project-content {
  padding: 24px 24px 0 24px !important;
}

.card .card-action {
  border: none;
}

.edit {
  font-size: 20px;
  color: #5B5C60 !important;
  cursor: pointer;
}

.delete {
  color: #5B5C60 !important;
  cursor: pointer;
}


/* ================
    notifications
================= */

.notifications {
  margin: 40px 0 20px 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.notifications {
  background: #F7F7F7 !important;
  margin: 48px 0 20px 0;
}

.notifications__content {
  padding: 10px 25px !important;
}

.notifications__content ul:not(.browser-default) {
  padding-left: 0px !important;
}

.online-user__name {
  color: #F05457;
}

.note-date {
  color: #5a5a5a !important;
}

/* ===========
    sidebar
============ */

.side-drawer {
  background-color: #F05457 !important;
  min-height: 100%;
  max-width: 60%;
  z-index: 10 !important;
  position: fixed;
}

.btn-close {
  padding: 10px;
}

ul:not(.browser-default) {
  padding-left: 50px !important;
}

.side-links{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

/* ================
    media queries
================== */

@media only screen and (max-width: 992px) {
  .btn-initals-sidebar {
    width: 80px;
    height: 80px;
    padding: 20px 10px;
    font-size: 25px;
    text-align: center;
    background-color: #292929;
  }

  .side-links > :first-child{
    margin-bottom: 20px !important;
  }

  .white {
    width: 80% !important;
  }
}

@media only screen and (max-width: 600px) {
  .white {
    width: 100% !important;
  }
}



